# 1. Create a virtual environment: python -m venv myenv
# 2. Activate the environment: source myenv/bin/activate (macOS/Linux) or myenv\Scripts\activate (Windows)
# 3. Install dependencies: pip install -r requirements.txt

pandas==2.2.1
numpy>=1.26.0
jsonpickle==3.0.3